.itemBtn {
    width: 300px;
    transform-origin: 100% 56px;
    transform: rotate(0deg);
    position: absolute;
    list-style: none;
}
.itemBtn:nth-child(1) {
    transform: rotate(45deg);
}
.itemBtn:nth-child(2) {
    transform: rotate(90deg);
}
.itemBtn:nth-child(3) {
    transform: rotate(135deg);
}
.itemBtn:nth-child(4) {
    transform: rotate(180deg);
}
.itemBtn:nth-child(5) {
    transform: rotate(225deg);
}
.itemBtn:nth-child(6) {
    transform: rotate(270deg);
}
.itemBtn:nth-child(7) {
    transform: rotate(315deg);
}
.itemImg {
    position: absolute;
    transform: rotate(0deg);
    cursor: pointer;
    z-index: 1;
}
.itemBtn:nth-child(1) > .itemImg {
    transform: rotate(-45deg);
}
.itemBtn:nth-child(2) > .itemImg {
    transform: rotate(-90deg);
}
.itemBtn:nth-child(3) > .itemImg {
    transform: rotate(-135deg);
}
.itemBtn:nth-child(4) > .itemImg {
    transform: rotate(-180deg);
}
.itemBtn:nth-child(5) > .itemImg {
    transform: rotate(-225deg);
}
.itemBtn:nth-child(6) > .itemImg {
    transform: rotate(-270deg);
}
.itemBtn:nth-child(7) > .itemImg {
    transform: rotate(-315deg);
}
.textList {
    width: 250px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #223867;
    transform: rotate(0deg) translate(-59%, 230%);
}
.itemBtn:nth-child(1) >.textList {
    transform: rotate(-45deg) translate(-72%, -90%);
}
.itemBtn:nth-child(2) >.textList {
    transform: rotate(-90deg) translate(17%, -150px);
}
.itemBtn:nth-child(3) >.textList {
    transform: rotate(-135deg) translate(100%, -100%);
}
.itemBtn:nth-child(4) >.textList {
    transform: rotate(-180deg) translate(118%, -66%);
}
.itemBtn:nth-child(5) >.textList {
    width: 200px;
    transform: rotate(-225deg) translate(116%, 39%);
}
.itemBtn:nth-child(6) >.textList {
    transform: rotate(-270deg) translate(27%, 180px);
}
.itemBtn:nth-child(7) >.textList {
    width: 186px;
    transform: rotate(-315deg) translate(-65%, 67px);
}
.hidden {
    display: none;
}
.show {
    display: block;
}